body {
  font-family: "Great Vibes", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right bottom,

    #00429f,
    #0060ba,
    #007ed3,
    #0096de,
    #00ade4,
    #00c2e7,
    #00d2d1,
    #34dca4,
    #93e06c,
    #e4d93e
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.the-form {
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 32px;
  border-radius: 10px;
  width: 380px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #131313;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 12px 16px;
  background: rgba(201, 201, 201, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(201, 201, 201, 0.5);
  background: rgba(201, 201, 201, 0);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(201, 201, 201, 1);
  font-size: 18px;
  line-height: 1.2;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  background: #030165;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e173b;
}

.result {
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin-top: 36px;
  border-radius: 8px;
  font-weight: bold;
  color: #561444;
  display: none;
}
.auther {
  font-size: 12px;
  position: relative;
  bottom: 0;
}
